
<div style="padding-left: 8px; padding-top: 5px; padding-bottom: 3px;">
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/classic']" routerLinkActive="router-link-active"  >Classic</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/horror' ]" routerLinkActive="router-link-active"  >Horror</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/comedy' ]" routerLinkActive="router-link-active"  >Comedy</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/drama'  ]" routerLinkActive="router-link-active"  >Drama</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/family' ]" routerLinkActive="router-link-active"  >Family</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/mystery']" routerLinkActive="router-link-active"  >Mystery</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/science']" routerLinkActive="router-link-active"  >Scifi-Fantasy</button>
    <button style="background-color:darkseagreen;  " mat-raised-button [routerLink]="['/western']" routerLinkActive="router-link-active"  >Western</button>
</div>





