<!-- <tr
  *ngFor="
    let post of westerns
      | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index
  "
>  -->
<td style="padding-top: 20px; padding-left: 8px; padding-right: 20px;">
<div>

  
  <table mat-table [dataSource]="westerns" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="padding-right: 200px;  text-align: center; margin: auto; background-color:beige;"> ID </th>
      <td mat-cell *matCellDef="let western" style="padding-right: 200px;  text-align: center; margin: auto; background-color:ghostwhite; ">
        {{western.id}} </td>
    </ng-container>



    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="background-color:beige;"> Title </th>
      <td mat-cell *matCellDef="let westerns" style=" background-color:ghostwhite; "> {{westerns.title}} </td>
    </ng-container>


    <ng-container matColumnDef="posterURL">
      <th mat-header-cell *matHeaderCellDef
        style="padding-right: 200px;  text-align: center; margin: auto; margin-left: 5px; background-color: beige;"> Poster </th>
      <td mat-cell *matCellDef="let westerns"> <img [src]="westerns.posterURL"
          style="padding-right: 200px;padding-left: 0px; display: block; margin-left: 15px;  margin-right: 15px; width: 80px; height: 80px; background-color:ghostwhite  ">
      </td>
    </ng-container>

    <ng-container matColumnDef="imdbId">
      <th mat-header-cell *matHeaderCellDef style="padding-right: 200px;  text-align: center; margin: auto; background-color: beige;"> Imdb
      </th>
      <td mat-cell *matCellDef="let westerns" style="background-color:ghostwhite"> <a [href]="westerns.imdbId" >Imdb</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of westerns">
  </mat-paginator>

</div>

</td>

