<!-- <button mat-button [matMenuTriggerFor]="Menu">Action-Adventure</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Animation</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Classic</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>
  

<button mat-button [matMenuTriggerFor]="Menu">Comedy</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Drama</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Horror</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Family</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Mystery</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Scifi-fantasy</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu>

<button mat-button [matMenuTriggerFor]="Menu">Western</button>
<mat-menu #Menu="matMenu" xPosition="after">
  
</mat-menu> -->

<!-- <div>
  <button mat-button (click)="deneme()">Action Adventure</button>
</div>
<li *ngFor="let clasic of clasics">
  <span>{{clasic.title}}</span>
</li> -->

<!-- <div>
  <button mat-button (click)="deneme()">Animation</button>
</div>
<li *ngFor="let clasic of clasics">
  <span>{{clasic.title}}</span>
</li> -->

<!-- <button mat-button [matMenuTriggerFor]="Menu">Western</button>
<mat-menu #Menu="matMenu" xPosition="after">
 
<ul class="list-group">
  <li 
      *ngFor="let post of posts"
       class="list-group-item"> 
      {{ post.title }}
  </li>
  
</ul> -->



<!-- <mat-tab-group>
  <mat-tab label="First"> 
    <div>

      <li *ngFor="let clasic of clasics">
        <span>{{clasic.title}}</span>
      </li>
    </div>
  </mat-tab>
  <mat-tab label="Second">  
    <div>
      <li *ngFor="let post of posts">
        <span>{{post.title}}</span>
      </li>
    </div>
    
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<!-- <app-tableexample></app-tableexample>  -->
<app-MainPage></app-MainPage>
<router-outlet></router-outlet> 


