<td style="padding-top: 20px; padding-left: 8px; padding-right: 20px; padding-bottom: 20px;">

  
  <table mat-table [dataSource]="dramas" class="mat-elevation-z8">

       
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="padding-right: 200px;  text-align: center; margin: auto; "> ID </th>
    <td mat-cell *matCellDef="let drama" style="padding-right: 200px;  text-align: center; margin: auto; "> {{drama.id}} </td>
  </ng-container>
  
  
  
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let dramas"> {{dramas.title}} </td>
  </ng-container>
  
  
  <ng-container matColumnDef="posterURL">
    <th mat-header-cell *matHeaderCellDef style="padding-right: 200px;  text-align: center; margin: auto; margin-left: 5px;"> Poster </th>
    <td mat-cell *matCellDef="let dramas"> <img [src]="dramas.posterURL" style="padding-right: 200px; display: block; margin-left: 10px;  margin-right: 10px; width: 80px; height: 80px;  "> </td>
  </ng-container>
  
  
  <ng-container matColumnDef="imdbId">
    <th mat-header-cell *matHeaderCellDef style="padding-right: 200px;  text-align: center; margin: auto; "> Imdb </th>
    <td mat-cell *matCellDef="let dramas">  <a [href]="dramas.imdbId">Imdb</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</td>